<h1><?= $siteTitle ?></h1>
<div id="navbar">
    <span id="go_to"><?= $goToCaption ?></span>
    <ul id="go_to_list">
        <?php foreach ($navbarItems as $item => $url): ?>
            <li>
                <?php if ($item === $pageTitle): ?>
                    <?= $item ?>
                <?php else: ?>
                    <a href="<?= $url ?>"><?= $item ?></a>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
