<head lang="en">
    <meta charset="UTF-8">
    <title><?= $siteTitle ?> - <?= $pageTitle ?></title>
    <?php foreach ($js as $script): ?>
        <script src="<?= $script ?>"></script>
    <?php endforeach; ?>
    <link rel="stylesheet" href="<?= $css ?>">
</head>
