<!DOCTYPE html>
<html>
    <?php $this->widget('head'); ?>
    <body>
        <?php $this->widget('header'); ?>
        <h1>Exception occured</h1>
        <p><?= $error['msg'] ?></p>
        <pre><?= $error['trc'] ?></pre>
    </body>
</html>