<!DOCTYPE html>
<html>
    <?php $this->widget('head'); ?>
    <body>
        <?php $this->widget('header'); ?>
        <form id="search_form" action="<?= $formAction ?>" method="post">
            <div id="url_block">
                <label for="url_input"><?= $urlLabel ?></label>
                <input id="url_input" type="text" name="<?= $urlInputName ?>"
                       placeholder="<?= $urlPlaceholder ?>">
                <span id="url_hint"></span>
            </div>
            <div id="type_block">
                <div id="links_type_block">
                    <input id="links_type_radio" type="radio"
                           name="<?= $typeInputName ?>" value="links" checked>
                    <label for="links_type_radio"><?= $linksTypeLabel ?></label>
                </div>
                <div id="images_type_block">
                    <input id="images_type_radio" type="radio"
                           name="<?= $typeInputName ?>" value="images">
                    <label for="images_type_radio"><?= $imagesTypeLabel ?></label>
                </div>
                <div id="text_type_block">
                    <input id="text_type_radio" type="radio"
                           name="<?= $typeInputName ?>" value="text">
                    <label for="text_type_radio"><?= $textTypeLabel ?></label>
                    <div id="search_text_block" hidden>
                        <label for="search_text_input">
                            <?= $searchTextLabel ?>
                        </label>
                        <input id="search_text_input" type="text"
                               name="<?= $textInputName ?>"
                               placeholder="<?= $searchTextPlaceholder ?>">
                        <span id="search_text_hint"></span>
                    </div>
                </div>
            </div>
            <div id="submit_block">
                <input id="submit_button" type="submit"
                       value="<?= $submitButtonCaption ?>">
                <span id="submit_hint"></span>
            </div>
        </form>
    </body>
</html>
