<!DOCTYPE html>
<html>
    <?php $this->widget('head'); ?>
    <body>
        <?php $this->widget('header'); ?>
        <main>
            <?php foreach($pages as $page): ?>
                <div class="page">
                    <p>
                        Found <?= $page['quantity'] ?> <?= $page['type'] ?> on
                        page <a href="#" class="expander">
                            <?= $page['url'] ?>
                        </a>.
                    </p>
                    <pre class="contents" hidden><?= $page['contents'] ?></pre>
                </div>
            <?php endforeach; ?>
        </main>
    </body>
</html>
